@using DevAssignment.Models
@model BarefootProximityModel
@{
    ViewBag.Title = "Home Page";
}

<h3>WELCOME TO TOM GRABLE'S BAREFOOT PROXIMITY DEV ASSIGNMENT</h3>
@using (Html.BeginForm("ProcessSearchList", "BarefootProximity", FormMethod.Post, new { id = "searchList", @class = "text-left" }))
{
    <fieldset>
        <div class="Group">
            <div class="required-field form-group has-feedback" id="search-list">
                @Html.LabelFor(m => m.SearchList, new { @class = "control-label" })
                @Html.TextAreaFor(m => m.SearchList, 5, 1, new { @class = "halfAvailableWidth form-control text-box single-line", @id = "txtSearchList", @type = "text", @style="max-width:none;"})
                @Html.ValidationMessageFor(m => m.SearchList, "", new { @class = "ErrorMessage" })
            </div>
        </div>

        <div class="Group">
            <div class="submit-buttons">
                <div class="form-submit-border text-left">
                    <input class="btn btn-lg barefoot-proximity-submit" id="login-button" name="action" type="submit" value="Submit" />
                </div>
            </div>
        </div>
    </fieldset>
}
